@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
body {
  background-color: #13141f;
  user-select: none;
  overflow-x: hidden;
}
.nav-shadow {
  text-shadow: 40px 40px 20px rgba(0, 0, 0, 0.4);
}
.inter-400 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.inter-500 {
  font-family: "Inter";
  font-weight: 500;
}
.inter-700 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}
.inter-bold {
  font-family: "Inter";
  font-weight: 700;
}
.button-transparent {
  border: 1px solid #89c6b9;
  filter: drop-shadow(40px 40px 10px rgba(1, 1, 2, 0.9));
  border-radius: 10px;
  width: 248px;
  transition: all 300ms ease-out;
}
.button-fill {
  background: #89c6b9;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: all 500ms ease-out;
}
.button-fill:hover {
  transform: translateY(-10px);

  box-shadow: 40px 40px 10px rgba(1, 1, 2, 0.25);
}
.button-transparent:hover {
  border: 5px solid #89c6b9;
  filter: drop-shadow(40px 40px 10px rgba(1, 1, 2, 0.25));
  transform: translateY(-4px);
}
.socialModal {
  border: 1px solid #89c6b9;
  backdrop-filter: blur(5px);
  border-radius: 50px;
}
.social path {
  fill: white;
  transition: all 300ms ease-out;
}
.social path:hover {
  fill: #89c6b9;
  box-shadow: inset 4px 4px 2px rgba(0, 0, 0, 0.25);
}
.footerH {
  font-family: "Inter";
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 25px;
}
.footerP {
  font-family: "Inter";
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footerB {
  border-top: 1px solid #89c6b9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hoverEffect {
  transition: all 500ms ease-out;
}
.hoverEffect:hover {
  transform: translateY(-10px);
  box-shadow: 40px 40px 20px rgba(0, 0, 0, 0.1);
}
.bg-box {
  background: linear-gradient(
    127.99deg,
    #1c1d2d 0%,
    #1b1c2c 8.85%,
    #13141f 100%
  );
}
.header-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 767px) {
  .socialModalTransorm {
    transform: translate(-50%, -50%);
  }
}
